<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Home</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Volcanoes R Us</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/data">Raw Data <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/geo">Geo Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboards">Visualizations</a>
        </li>
      </ul>
    </div>
  </nav>

</head>

<body>

  <br>
  <h1> Welcome to Volcanoes-R-Us </h1>
  <hr>

  <iframe src="https://giphy.com/embed/r5gHt2TCIiHK0" width="1080px" height="720px" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
  <p><a href="https://giphy.com/gifs/volcano-eruption-r5gHt2TCIiHK0"></a></p>

</body>

</html>