<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel='icon' href='static/favicon.ico' type='image/x-icon'/ >
  <title>Home</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: skyblue;">
    <a class="navbar-brand" href="/">Volcanopedia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/data">Raw Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/geo">Geo Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboards">Visualizations</a>
        </li>
      </ul>
    </div>
  </nav>

</head>

<body id="home">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Volcanopedia!
        <br>
        Where the lava is hot and the jokes aren't.
      </h1>
      <p class="lead">This is your one stop shop for volcanoes and rocks! The data you will find here comes direct from
        the
        Smithsonian's volcano database. All data
        sets were cleaned, handled, and maintained by a professional team of data analysts.</p>
      <p class="lead">Our team: Sarah Long, Nick Worthy, Ryan Conway, Harper Miller</p>
    </div>
  </div>
</body>

</html>